@charset "UTF-8";
*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	font-family: "Noto Sans JP", sans-serif;
	font-size: clamp(6px, 0.625vw, 10px);
	scroll-behavior: smooth;
}
@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
}
body {
	margin: 0px;
	bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
nav,
section,
main,
header {
	padding: 0 0;
	margin: 0 0;
}
.padding_0 {
	padding: 0 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0 0;
	padding: 0 0;
}
